body {
      position: relative; 
  }
.container-fluid {
      padding-top: 10px;
      padding-bottom: 10px;
  }
.b {
    background-color: #2f2f2f;
    color: #ffffff;
}
.about{
     margin-top:60px;
  margin-bottom:60px;
  margin-left:50px;
  margin-right:200px;
    font-size:2em;
  text-align:left;
  }
.ig:hover
{
    cursor: default;
    transform: rotate(-60deg);
    transition: all 0.3s ease-in-out 0s;
}
.ig{
  transition: all 0.3s ease-in-out 0s;
  width:350px;
  float:right;
  margin-top:50px;
}
.navbar-nav li a:hover {
    color: #00AAA0 !important;
}
  #About {
    display:block;
    padding-top:50px;
    height:500px;
    color: #fff;
    background-color: #20B2AA;
    text-align:center;
}
  #Portfolio {
    padding-top:40px;
    padding-left:60px;
    padding-right:70px;
    height:900px;
    color: #fff;
    background-color: #27408B;
    text-align:center;
}
img{
  margin:20px;
}
  #Contact {
    padding-top:50px;
    height:400px;
    color: #fff;
    text-align:center;
    background-color: #8FBC8F;
    i {
      height:50px;
      width:50px;
    }
    }
footer i{
  height:60px;
}
footer li{
 list-style-type:none;
}
.social{
  float:right;
  color: #000;
  border:solid 2px #fff;
  border-radius:50%;
  display:inline-block;
  text-align:center;
  width:40px;
  height:40px;
  font-size:30px;
  line-height:30px;
  transition:all .3s ease-in-out;
}
.w{
  width:60%;
}
